* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    }

.nav, footer {
    background: orange;
}

.nav ul {
    list-style: none;
    padding: 20px;
    text-align: right;
}

.nav ul li {
display: inline-block;
margin-left: 10px;
}

.nav ul li a, footer a {
    color: #fff;
    text-decoration: none;
}

.nav ul li a:hover, footer a:hover{
    color:#000;
}

main, footer {
    display: flex;
    flex-wrap: wrap;
}

.single, .footer{
    width: 50%;
}

.single.center {
    text-align: center;
    border-bottom: 5px solid #ccc;
}

.photo img {
    width: 80px;
    border-radius: 100%;
}
.single {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    line-height: 1.3;
}
.name h1 {
    padding:15px 0;
}

footer img{
    width: 60px;
}

footer{
    padding: 15px;
}


.footer-right {
    text-align: right;
}